<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Manage</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span>Account</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/manage/account/admin">Admin</a></li>
                        <li><a href="/admin/manage/account/student">Student</a></li>
                        <li><a href="/admin/manage/account/lecturer">Lecturer</a></li>
                        <li><a href="/admin/manage/account/department">Department</a></li>
                        <li><a href="/admin/manage/account/faculty">Faculty</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="/admin/manage/course" class="waves-effect"><i class="ti-home"></i> <span>Course</span> </a>
                </li>
                <li class="has_sub">
                    <a href="/admin/manage/class" class="waves-effect"><i class="ti-home"></i> <span>Class</span> </a>
                </li>
                <li class="has_sub">
                    <a href="/admin/manage/term" class="waves-effect"><i class="ti-home"></i> <span>Term</span> </a>
                </li>
                <li class="has_sub">
                    <a href="/admin/manage/major" class="waves-effect"><i class="ti-home"></i> <span>Major</span> </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span>News</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/manage/new">New</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span>Announcements</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/manage/announcement">Announcement</a></li>
                        <li><a href="/admin/manage/kindofannouncement">Type Announcement</a></li>

                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
