<% layout('../layout') -%>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Chào mừng đến hệ thống <%= appName %> </h4>
                </div>
            </div>


        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        © 2016. All rights reserved.
    </footer>

</div>