<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span>Manage</span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/lecturer/manage/courses">Đăng ký lớp môn học</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span>Gửi thông báo</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/lecturer/announce/courses">Lớp môn học</a></li>
                        <li><a href="/lecturer/announce/students">Sinh viên</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="/lecturer/announce/mark" class="waves-effect"><i class="ti-home"></i> <span>Gửi điểm</span> </a>
                </li>
                <li class="has_sub">
                    <a href="/lecturer/manage/announce/history" class="waves-effect"><i class="ti-home"></i> <span>Lịch sử</span> </a>
                </li>
                <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
